# coding: utf-8

"""
    Ed-Fi Operational Data Store API

    The Ed-Fi ODS / API enables applications to read and write education data stored in an Ed-Fi ODS through a secure REST interface.  ***  > *Note: Consumers of ODS / API information should sanitize all data for display and storage. The ODS / API provides reasonable safeguards against cross-site scripting attacks and other malicious content, but the platform does not and cannot guarantee that the data it contains is free of all potentially harmful content.*  ***   # noqa: E501

    OpenAPI spec version: 3
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class ProspectsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def delete_prospect_by_id(self, id, **kwargs):  # noqa: E501
        """Deletes an existing resource using the resource identifier.  # noqa: E501

        The DELETE operation is used to delete an existing resource by identifier. If the resource doesn't exist, an error will result (the resource will not be found).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_prospect_by_id(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: A resource identifier that uniquely identifies the resource. (required)
        :param str if_match: The ETag header value used to prevent the DELETE from removing a resource modified by another consumer.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_prospect_by_id_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_prospect_by_id_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def delete_prospect_by_id_with_http_info(self, id, **kwargs):  # noqa: E501
        """Deletes an existing resource using the resource identifier.  # noqa: E501

        The DELETE operation is used to delete an existing resource by identifier. If the resource doesn't exist, an error will result (the resource will not be found).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_prospect_by_id_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: A resource identifier that uniquely identifies the resource. (required)
        :param str if_match: The ETag header value used to prevent the DELETE from removing a resource modified by another consumer.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'if_match']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_prospect_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if self.api_client.client_side_validation and ('id' not in params or
                                                       params['id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `id` when calling `delete_prospect_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'if_match' in params:
            header_params['If-Match'] = params['if_match']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oauth2_client_credentials']  # noqa: E501

        return self.api_client.call_api(
            '/tpdm/prospects/{id}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def deletes_prospects(self, **kwargs):  # noqa: E501
        """Retrieves deleted resources based on change version.  # noqa: E501

        The DELETES operation is used to retrieve deleted resources.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.deletes_prospects(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int offset: Indicates how many items should be skipped before returning results.
        :param int limit: Indicates the maximum number of items that should be returned in the results.
        :param int min_change_version: Used in synchronization to set sequence minimum ChangeVersion
        :param int max_change_version: Used in synchronization to set sequence maximum ChangeVersion
        :return: list[TpdmProspect]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.deletes_prospects_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.deletes_prospects_with_http_info(**kwargs)  # noqa: E501
            return data

    def deletes_prospects_with_http_info(self, **kwargs):  # noqa: E501
        """Retrieves deleted resources based on change version.  # noqa: E501

        The DELETES operation is used to retrieve deleted resources.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.deletes_prospects_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int offset: Indicates how many items should be skipped before returning results.
        :param int limit: Indicates the maximum number of items that should be returned in the results.
        :param int min_change_version: Used in synchronization to set sequence minimum ChangeVersion
        :param int max_change_version: Used in synchronization to set sequence maximum ChangeVersion
        :return: list[TpdmProspect]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['offset', 'limit', 'min_change_version', 'max_change_version']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method deletes_prospects" % key
                )
            params[key] = val
        del params['kwargs']

        if self.api_client.client_side_validation and ('limit' in params and params['limit'] > 500):  # noqa: E501
            raise ValueError("Invalid value for parameter `limit` when calling `deletes_prospects`, must be a value less than or equal to `500`")  # noqa: E501
        if self.api_client.client_side_validation and ('limit' in params and params['limit'] < 0):  # noqa: E501
            raise ValueError("Invalid value for parameter `limit` when calling `deletes_prospects`, must be a value greater than or equal to `0`")  # noqa: E501
        collection_formats = {}

        path_params = {}

        query_params = []
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'min_change_version' in params:
            query_params.append(('minChangeVersion', params['min_change_version']))  # noqa: E501
        if 'max_change_version' in params:
            query_params.append(('maxChangeVersion', params['max_change_version']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oauth2_client_credentials']  # noqa: E501

        return self.api_client.call_api(
            '/tpdm/prospects/deletes', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[TpdmProspect]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_prospects(self, **kwargs):  # noqa: E501
        """Retrieves specific resources using the resource's property values (using the \"Get\" pattern).  # noqa: E501

        This GET operation provides access to resources using the \"Get\" search pattern.  The values of any properties of the resource that are specified will be used to return all matching results (if it exists).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_prospects(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int offset: Indicates how many items should be skipped before returning results.
        :param int limit: Indicates the maximum number of items that should be returned in the results.
        :param int min_change_version: Used in synchronization to set sequence minimum ChangeVersion
        :param int max_change_version: Used in synchronization to set sequence maximum ChangeVersion
        :param bool total_count: Indicates if the total number of items available should be returned in the 'Total-Count' header of the response.  If set to false, 'Total-Count' header will not be provided.
        :param str prospect_identifier: The identifier for the prospect.
        :param int education_organization_id: The identifier assigned to an education organization.
        :param str person_id: A unique alphanumeric code assigned to a person.
        :param str source_system_descriptor: This descriptor defines the originating record source system for the person.
        :param str teacher_candidate_identifier: A unique alphanumeric code assigned to a teacher candidate.
        :param str gender_descriptor: The gender with which a person associates.
        :param str prospect_type_descriptor: Reflects the type of prospect, such as TPP Applicant, Hire, or Mentor Teacher.
        :param str sex_descriptor: A person's gender.
        :param bool applied: Indicator of whether the prospect applied for a position.
        :param bool economic_disadvantaged: An indication of inadequate financial condition of an individual's family, as determined by family income, number of family members/dependents, participation in public assistance programs, and/or other characteristics considered relevant by federal, state, and local policy.
        :param str electronic_mail_address: The numbers, letters, and symbols used to identify an electronic mail (e-mail) user within the network to which the individual or organization belongs.
        :param bool first_generation_student: Indicator of whether individual is a first generation college student.
        :param str first_name: A name given to an individual at birth, baptism, or during another naming ceremony, or through legal change.
        :param str generation_code_suffix: An appendage, if any, used to denote an individual's generation in his family (e.g., Jr., Sr., III).
        :param bool hispanic_latino_ethnicity: An indication that the individual traces his or her origin or descent to Mexico, Puerto Rico, Cuba, Central, and South America, and other Spanish cultures, regardless of race. The term, \"Spanish origin,\" can be used in addition to \"Hispanic or Latino\".
        :param str id: 
        :param str last_surname: The name borne in common by members of a family.
        :param str maiden_name: The person's maiden name.
        :param bool met: Indicator whether the person was met by a representative of the education organization.
        :param str middle_name: A secondary name given to an individual at birth, baptism, or during another naming ceremony.
        :param str notes: Additional notes about the prospect.
        :param str personal_title_prefix: A prefix used to denote the title, degree, position, or seniority of the person.
        :param int pre_screening_rating: The rating initially assigned to the prospect prior to an official screening.
        :param bool referral: Indicator of whether the prospect was a referral.
        :param str referred_by: The person making the referral.
        :param str social_media_network_name: The social media network name (e.g., LinkedIn, Twitter, etc.) associated with the SocialMediaUserName.
        :param str social_media_user_name: The user name of the person on social media.
        :return: list[TpdmProspect]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_prospects_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_prospects_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_prospects_with_http_info(self, **kwargs):  # noqa: E501
        """Retrieves specific resources using the resource's property values (using the \"Get\" pattern).  # noqa: E501

        This GET operation provides access to resources using the \"Get\" search pattern.  The values of any properties of the resource that are specified will be used to return all matching results (if it exists).  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_prospects_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int offset: Indicates how many items should be skipped before returning results.
        :param int limit: Indicates the maximum number of items that should be returned in the results.
        :param int min_change_version: Used in synchronization to set sequence minimum ChangeVersion
        :param int max_change_version: Used in synchronization to set sequence maximum ChangeVersion
        :param bool total_count: Indicates if the total number of items available should be returned in the 'Total-Count' header of the response.  If set to false, 'Total-Count' header will not be provided.
        :param str prospect_identifier: The identifier for the prospect.
        :param int education_organization_id: The identifier assigned to an education organization.
        :param str person_id: A unique alphanumeric code assigned to a person.
        :param str source_system_descriptor: This descriptor defines the originating record source system for the person.
        :param str teacher_candidate_identifier: A unique alphanumeric code assigned to a teacher candidate.
        :param str gender_descriptor: The gender with which a person associates.
        :param str prospect_type_descriptor: Reflects the type of prospect, such as TPP Applicant, Hire, or Mentor Teacher.
        :param str sex_descriptor: A person's gender.
        :param bool applied: Indicator of whether the prospect applied for a position.
        :param bool economic_disadvantaged: An indication of inadequate financial condition of an individual's family, as determined by family income, number of family members/dependents, participation in public assistance programs, and/or other characteristics considered relevant by federal, state, and local policy.
        :param str electronic_mail_address: The numbers, letters, and symbols used to identify an electronic mail (e-mail) user within the network to which the individual or organization belongs.
        :param bool first_generation_student: Indicator of whether individual is a first generation college student.
        :param str first_name: A name given to an individual at birth, baptism, or during another naming ceremony, or through legal change.
        :param str generation_code_suffix: An appendage, if any, used to denote an individual's generation in his family (e.g., Jr., Sr., III).
        :param bool hispanic_latino_ethnicity: An indication that the individual traces his or her origin or descent to Mexico, Puerto Rico, Cuba, Central, and South America, and other Spanish cultures, regardless of race. The term, \"Spanish origin,\" can be used in addition to \"Hispanic or Latino\".
        :param str id: 
        :param str last_surname: The name borne in common by members of a family.
        :param str maiden_name: The person's maiden name.
        :param bool met: Indicator whether the person was met by a representative of the education organization.
        :param str middle_name: A secondary name given to an individual at birth, baptism, or during another naming ceremony.
        :param str notes: Additional notes about the prospect.
        :param str personal_title_prefix: A prefix used to denote the title, degree, position, or seniority of the person.
        :param int pre_screening_rating: The rating initially assigned to the prospect prior to an official screening.
        :param bool referral: Indicator of whether the prospect was a referral.
        :param str referred_by: The person making the referral.
        :param str social_media_network_name: The social media network name (e.g., LinkedIn, Twitter, etc.) associated with the SocialMediaUserName.
        :param str social_media_user_name: The user name of the person on social media.
        :return: list[TpdmProspect]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['offset', 'limit', 'min_change_version', 'max_change_version', 'total_count', 'prospect_identifier', 'education_organization_id', 'person_id', 'source_system_descriptor', 'teacher_candidate_identifier', 'gender_descriptor', 'prospect_type_descriptor', 'sex_descriptor', 'applied', 'economic_disadvantaged', 'electronic_mail_address', 'first_generation_student', 'first_name', 'generation_code_suffix', 'hispanic_latino_ethnicity', 'id', 'last_surname', 'maiden_name', 'met', 'middle_name', 'notes', 'personal_title_prefix', 'pre_screening_rating', 'referral', 'referred_by', 'social_media_network_name', 'social_media_user_name']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_prospects" % key
                )
            params[key] = val
        del params['kwargs']

        if self.api_client.client_side_validation and ('limit' in params and params['limit'] > 500):  # noqa: E501
            raise ValueError("Invalid value for parameter `limit` when calling `get_prospects`, must be a value less than or equal to `500`")  # noqa: E501
        if self.api_client.client_side_validation and ('limit' in params and params['limit'] < 0):  # noqa: E501
            raise ValueError("Invalid value for parameter `limit` when calling `get_prospects`, must be a value greater than or equal to `0`")  # noqa: E501
        if self.api_client.client_side_validation and ('prospect_identifier' in params and
                                                       len(params['prospect_identifier']) > 32):
            raise ValueError("Invalid value for parameter `prospect_identifier` when calling `get_prospects`, length must be less than or equal to `32`")  # noqa: E501
        if self.api_client.client_side_validation and ('person_id' in params and
                                                       len(params['person_id']) > 32):
            raise ValueError("Invalid value for parameter `person_id` when calling `get_prospects`, length must be less than or equal to `32`")  # noqa: E501
        if self.api_client.client_side_validation and ('source_system_descriptor' in params and
                                                       len(params['source_system_descriptor']) > 306):
            raise ValueError("Invalid value for parameter `source_system_descriptor` when calling `get_prospects`, length must be less than or equal to `306`")  # noqa: E501
        if self.api_client.client_side_validation and ('teacher_candidate_identifier' in params and
                                                       len(params['teacher_candidate_identifier']) > 32):
            raise ValueError("Invalid value for parameter `teacher_candidate_identifier` when calling `get_prospects`, length must be less than or equal to `32`")  # noqa: E501
        if self.api_client.client_side_validation and ('gender_descriptor' in params and
                                                       len(params['gender_descriptor']) > 306):
            raise ValueError("Invalid value for parameter `gender_descriptor` when calling `get_prospects`, length must be less than or equal to `306`")  # noqa: E501
        if self.api_client.client_side_validation and ('prospect_type_descriptor' in params and
                                                       len(params['prospect_type_descriptor']) > 306):
            raise ValueError("Invalid value for parameter `prospect_type_descriptor` when calling `get_prospects`, length must be less than or equal to `306`")  # noqa: E501
        if self.api_client.client_side_validation and ('sex_descriptor' in params and
                                                       len(params['sex_descriptor']) > 306):
            raise ValueError("Invalid value for parameter `sex_descriptor` when calling `get_prospects`, length must be less than or equal to `306`")  # noqa: E501
        if self.api_client.client_side_validation and ('electronic_mail_address' in params and
                                                       len(params['electronic_mail_address']) > 128):
            raise ValueError("Invalid value for parameter `electronic_mail_address` when calling `get_prospects`, length must be less than or equal to `128`")  # noqa: E501
        if self.api_client.client_side_validation and ('first_name' in params and
                                                       len(params['first_name']) > 75):
            raise ValueError("Invalid value for parameter `first_name` when calling `get_prospects`, length must be less than or equal to `75`")  # noqa: E501
        if self.api_client.client_side_validation and ('generation_code_suffix' in params and
                                                       len(params['generation_code_suffix']) > 10):
            raise ValueError("Invalid value for parameter `generation_code_suffix` when calling `get_prospects`, length must be less than or equal to `10`")  # noqa: E501
        if self.api_client.client_side_validation and ('last_surname' in params and
                                                       len(params['last_surname']) > 75):
            raise ValueError("Invalid value for parameter `last_surname` when calling `get_prospects`, length must be less than or equal to `75`")  # noqa: E501
        if self.api_client.client_side_validation and ('maiden_name' in params and
                                                       len(params['maiden_name']) > 75):
            raise ValueError("Invalid value for parameter `maiden_name` when calling `get_prospects`, length must be less than or equal to `75`")  # noqa: E501
        if self.api_client.client_side_validation and ('middle_name' in params and
                                                       len(params['middle_name']) > 75):
            raise ValueError("Invalid value for parameter `middle_name` when calling `get_prospects`, length must be less than or equal to `75`")  # noqa: E501
        if self.api_client.client_side_validation and ('notes' in params and
                                                       len(params['notes']) > 255):
            raise ValueError("Invalid value for parameter `notes` when calling `get_prospects`, length must be less than or equal to `255`")  # noqa: E501
        if self.api_client.client_side_validation and ('personal_title_prefix' in params and
                                                       len(params['personal_title_prefix']) > 30):
            raise ValueError("Invalid value for parameter `personal_title_prefix` when calling `get_prospects`, length must be less than or equal to `30`")  # noqa: E501
        if self.api_client.client_side_validation and ('referred_by' in params and
                                                       len(params['referred_by']) > 50):
            raise ValueError("Invalid value for parameter `referred_by` when calling `get_prospects`, length must be less than or equal to `50`")  # noqa: E501
        if self.api_client.client_side_validation and ('social_media_network_name' in params and
                                                       len(params['social_media_network_name']) > 50):
            raise ValueError("Invalid value for parameter `social_media_network_name` when calling `get_prospects`, length must be less than or equal to `50`")  # noqa: E501
        if self.api_client.client_side_validation and ('social_media_user_name' in params and
                                                       len(params['social_media_user_name']) > 50):
            raise ValueError("Invalid value for parameter `social_media_user_name` when calling `get_prospects`, length must be less than or equal to `50`")  # noqa: E501
        collection_formats = {}

        path_params = {}

        query_params = []
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'min_change_version' in params:
            query_params.append(('minChangeVersion', params['min_change_version']))  # noqa: E501
        if 'max_change_version' in params:
            query_params.append(('maxChangeVersion', params['max_change_version']))  # noqa: E501
        if 'total_count' in params:
            query_params.append(('totalCount', params['total_count']))  # noqa: E501
        if 'prospect_identifier' in params:
            query_params.append(('prospectIdentifier', params['prospect_identifier']))  # noqa: E501
        if 'education_organization_id' in params:
            query_params.append(('educationOrganizationId', params['education_organization_id']))  # noqa: E501
        if 'person_id' in params:
            query_params.append(('personId', params['person_id']))  # noqa: E501
        if 'source_system_descriptor' in params:
            query_params.append(('sourceSystemDescriptor', params['source_system_descriptor']))  # noqa: E501
        if 'teacher_candidate_identifier' in params:
            query_params.append(('teacherCandidateIdentifier', params['teacher_candidate_identifier']))  # noqa: E501
        if 'gender_descriptor' in params:
            query_params.append(('genderDescriptor', params['gender_descriptor']))  # noqa: E501
        if 'prospect_type_descriptor' in params:
            query_params.append(('prospectTypeDescriptor', params['prospect_type_descriptor']))  # noqa: E501
        if 'sex_descriptor' in params:
            query_params.append(('sexDescriptor', params['sex_descriptor']))  # noqa: E501
        if 'applied' in params:
            query_params.append(('applied', params['applied']))  # noqa: E501
        if 'economic_disadvantaged' in params:
            query_params.append(('economicDisadvantaged', params['economic_disadvantaged']))  # noqa: E501
        if 'electronic_mail_address' in params:
            query_params.append(('electronicMailAddress', params['electronic_mail_address']))  # noqa: E501
        if 'first_generation_student' in params:
            query_params.append(('firstGenerationStudent', params['first_generation_student']))  # noqa: E501
        if 'first_name' in params:
            query_params.append(('firstName', params['first_name']))  # noqa: E501
        if 'generation_code_suffix' in params:
            query_params.append(('generationCodeSuffix', params['generation_code_suffix']))  # noqa: E501
        if 'hispanic_latino_ethnicity' in params:
            query_params.append(('hispanicLatinoEthnicity', params['hispanic_latino_ethnicity']))  # noqa: E501
        if 'id' in params:
            query_params.append(('id', params['id']))  # noqa: E501
        if 'last_surname' in params:
            query_params.append(('lastSurname', params['last_surname']))  # noqa: E501
        if 'maiden_name' in params:
            query_params.append(('maidenName', params['maiden_name']))  # noqa: E501
        if 'met' in params:
            query_params.append(('met', params['met']))  # noqa: E501
        if 'middle_name' in params:
            query_params.append(('middleName', params['middle_name']))  # noqa: E501
        if 'notes' in params:
            query_params.append(('notes', params['notes']))  # noqa: E501
        if 'personal_title_prefix' in params:
            query_params.append(('personalTitlePrefix', params['personal_title_prefix']))  # noqa: E501
        if 'pre_screening_rating' in params:
            query_params.append(('preScreeningRating', params['pre_screening_rating']))  # noqa: E501
        if 'referral' in params:
            query_params.append(('referral', params['referral']))  # noqa: E501
        if 'referred_by' in params:
            query_params.append(('referredBy', params['referred_by']))  # noqa: E501
        if 'social_media_network_name' in params:
            query_params.append(('socialMediaNetworkName', params['social_media_network_name']))  # noqa: E501
        if 'social_media_user_name' in params:
            query_params.append(('socialMediaUserName', params['social_media_user_name']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oauth2_client_credentials']  # noqa: E501

        return self.api_client.call_api(
            '/tpdm/prospects', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[TpdmProspect]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_prospects_by_id(self, id, **kwargs):  # noqa: E501
        """Retrieves a specific resource using the resource's identifier (using the \"Get By Id\" pattern).  # noqa: E501

        This GET operation retrieves a resource by the specified resource identifier.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_prospects_by_id(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: A resource identifier that uniquely identifies the resource. (required)
        :param str if_none_match: The previously returned ETag header value, used here to prevent the unnecessary data transfer of an unchanged resource.
        :return: TpdmProspect
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_prospects_by_id_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_prospects_by_id_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def get_prospects_by_id_with_http_info(self, id, **kwargs):  # noqa: E501
        """Retrieves a specific resource using the resource's identifier (using the \"Get By Id\" pattern).  # noqa: E501

        This GET operation retrieves a resource by the specified resource identifier.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_prospects_by_id_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: A resource identifier that uniquely identifies the resource. (required)
        :param str if_none_match: The previously returned ETag header value, used here to prevent the unnecessary data transfer of an unchanged resource.
        :return: TpdmProspect
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'if_none_match']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_prospects_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if self.api_client.client_side_validation and ('id' not in params or
                                                       params['id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `id` when calling `get_prospects_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'if_none_match' in params:
            header_params['If-None-Match'] = params['if_none_match']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oauth2_client_credentials']  # noqa: E501

        return self.api_client.call_api(
            '/tpdm/prospects/{id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TpdmProspect',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def post_prospect(self, prospect, **kwargs):  # noqa: E501
        """Creates or updates resources based on the natural key values of the supplied resource.  # noqa: E501

        The POST operation can be used to create or update resources. In database terms, this is often referred to as an \"upsert\" operation (insert + update). Clients should NOT include the resource \"id\" in the JSON body because it will result in an error (you must use a PUT operation to update a resource by \"id\"). The web service will identify whether the resource already exists based on the natural key values provided, and update or create the resource appropriately.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_prospect(prospect, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param TpdmProspect prospect: The JSON representation of the \"prospect\" resource to be created or updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.post_prospect_with_http_info(prospect, **kwargs)  # noqa: E501
        else:
            (data) = self.post_prospect_with_http_info(prospect, **kwargs)  # noqa: E501
            return data

    def post_prospect_with_http_info(self, prospect, **kwargs):  # noqa: E501
        """Creates or updates resources based on the natural key values of the supplied resource.  # noqa: E501

        The POST operation can be used to create or update resources. In database terms, this is often referred to as an \"upsert\" operation (insert + update). Clients should NOT include the resource \"id\" in the JSON body because it will result in an error (you must use a PUT operation to update a resource by \"id\"). The web service will identify whether the resource already exists based on the natural key values provided, and update or create the resource appropriately.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_prospect_with_http_info(prospect, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param TpdmProspect prospect: The JSON representation of the \"prospect\" resource to be created or updated. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['prospect']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method post_prospect" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'prospect' is set
        if self.api_client.client_side_validation and ('prospect' not in params or
                                                       params['prospect'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `prospect` when calling `post_prospect`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'prospect' in params:
            body_params = params['prospect']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oauth2_client_credentials']  # noqa: E501

        return self.api_client.call_api(
            '/tpdm/prospects', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def put_prospect(self, id, prospect, **kwargs):  # noqa: E501
        """Updates or creates a resource based on the resource identifier.  # noqa: E501

        The PUT operation is used to update or create a resource by identifier. If the resource doesn't exist, the resource will be created using that identifier. Additionally, natural key values cannot be changed using this operation, and will not be modified in the database.  If the resource \"id\" is provided in the JSON body, it will be ignored as well.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.put_prospect(id, prospect, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: A resource identifier that uniquely identifies the resource. (required)
        :param TpdmProspect prospect: The JSON representation of the \"prospect\" resource to be created or updated. (required)
        :param str if_match: The ETag header value used to prevent the PUT from updating a resource modified by another consumer.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.put_prospect_with_http_info(id, prospect, **kwargs)  # noqa: E501
        else:
            (data) = self.put_prospect_with_http_info(id, prospect, **kwargs)  # noqa: E501
            return data

    def put_prospect_with_http_info(self, id, prospect, **kwargs):  # noqa: E501
        """Updates or creates a resource based on the resource identifier.  # noqa: E501

        The PUT operation is used to update or create a resource by identifier. If the resource doesn't exist, the resource will be created using that identifier. Additionally, natural key values cannot be changed using this operation, and will not be modified in the database.  If the resource \"id\" is provided in the JSON body, it will be ignored as well.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.put_prospect_with_http_info(id, prospect, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: A resource identifier that uniquely identifies the resource. (required)
        :param TpdmProspect prospect: The JSON representation of the \"prospect\" resource to be created or updated. (required)
        :param str if_match: The ETag header value used to prevent the PUT from updating a resource modified by another consumer.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'prospect', 'if_match']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method put_prospect" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if self.api_client.client_side_validation and ('id' not in params or
                                                       params['id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `id` when calling `put_prospect`")  # noqa: E501
        # verify the required parameter 'prospect' is set
        if self.api_client.client_side_validation and ('prospect' not in params or
                                                       params['prospect'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `prospect` when calling `put_prospect`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'if_match' in params:
            header_params['If-Match'] = params['if_match']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'prospect' in params:
            body_params = params['prospect']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oauth2_client_credentials']  # noqa: E501

        return self.api_client.call_api(
            '/tpdm/prospects/{id}', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
